.delete-emp{
    height: 25vh;
    .header{
        border-bottom: 1px solid gray;
        margin-bottom: 2px;
        margin: 8px 12px;
    }

    .message{
        padding: 20px 24px;
    }

    .action-btn{
        border-top: 1px solid gray;
        margin: 8px 12px;
    }
}